<a href="https://colab.research.google.com/github/Chetna045/ml/blob/main/Untitled1b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
from sklearn.naive_bayes import GaussianNB
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("/content/data_vowel_bayes.csv",names=['x1','x2','x3','T'])

In [4]:
df

      x1    x2    x3  T
0    700  1500  2600  1
1    550  1550  2400  1
2    700  1500  2600  1
3    700  1600  2700  1
4    550  1600  2600  1
..   ...   ...   ... ..
866  500  1050  2900  6
867  500  1000  3000  6
868  500  1000  2800  6
869  500   900  2800  6
870  500   950  2700  6

[871 rows x 4 columns]

In [6]:
y=df['T']
y

0      1
1      1
2      1
3      1
4      1
      ..
866    6
867    6
868    6
869    6
870    6
Name: T, Length: 871, dtype: int64

In [7]:
x=df.drop(['T'],axis=1)
x

      x1    x2    x3
0    700  1500  2600
1    550  1550  2400
2    700  1500  2600
3    700  1600  2700
4    550  1600  2600
..   ...   ...   ...
866  500  1050  2900
867  500  1000  3000
868  500  1000  2800
869  500   900  2800
870  500   950  2700

[871 rows x 3 columns]

In [9]:
# we need to get the x value to be minmaxnormalistaion
x=(x-x.min())/(x.max()-x.min())
x

           x1        x2        x3
0    0.692308  0.432432  0.571429
1    0.461538  0.459459  0.428571
2    0.692308  0.432432  0.571429
3    0.692308  0.486486  0.642857
4    0.461538  0.486486  0.571429
..        ...       ...       ...
866  0.384615  0.189189  0.785714
867  0.384615  0.162162  0.857143
868  0.384615  0.162162  0.714286
869  0.384615  0.108108  0.714286
870  0.384615  0.135135  0.642857

[871 rows x 3 columns]

In [10]:
#splitting X and Y into train and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=20)

In [11]:
# fit it into the Gaussian model
model=GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [12]:
#predict the value for y_pred
y_pred=model.predict(x_test)

In [13]:
#now we need to find the metrics of it
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(accuracy_score(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

0.95
              precision    recall  f1-score   support

           2       1.00      1.00      1.00         4
           3       0.75      1.00      0.86         3
           4       1.00      1.00      1.00         4
           5       1.00      0.75      0.86         4
           6       1.00      1.00      1.00         5

    accuracy                           0.95        20
   macro avg       0.95      0.95      0.94        20
weighted avg       0.96      0.95      0.95        20

[[4 0 0 0 0]
 [0 3 0 0 0]
 [0 0 4 0 0]
 [0 1 0 3 0]
 [0 0 0 0 5]]